.chart-toggle-buttons {
	padding-bottom: 20px;
}

.line-chart {
	padding-bottom: 20px;
}


/* Altitude button and data point color */
.btn.altitude-color {
	background: #4BC0C0 !important;
}

/* Temperature button and data point color */
.btn.temperature-color {
	background: #FF6384 !important; 
}