.col-btn {
	padding-right: 2px !important;
	padding-left: 2px !important;
	padding-bottom: 10px !important;
}

.chart-toggle-buttons {
	padding-bottom: 20px;
}

.line-chart {
	padding-bottom: 20px;
}
